//Colour Variables

//Primary colors
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$white: #ffffff;

//Secondary colors
$slate: #5c667e;
$cloud: #bdc5d5;

//Background colors
$graphite: #232940;
$light-grey: #f7f8f9;

//Supporting colors
$green: #158463;
$red: #c94515;
