//PRIMARY
    //Global text color
    $Instock-Black: #13182c;
    //Interactive Elements
    $Instock-Indigo:#2E66E5;
    //Global white color
    $White:#FFFFFF;

//SECONDARY
    //Table column headers & placeholder text
    $Slate:#5c667e;
    //Outlines, dividers, borders, table sorting icon
    $Cloud:#BDC5D5;

//BACKGROUND
    //Top navigation header background, CTA button hover state background
    $Graphite:#232940;
    //Page background, table column header background, CTA background
    $Light-Grey:#f7f8f9;

//SUPPORTING COLORS
    //"In stock" label
    $Green:#158463;
    //"Out of stock" label, error states & delete icon
    $Red:#c94515;



