//DESKTOP(>1280px)
$desktop_margins:auto;
$desktop_columns:63px;
$desktop_gutters:24px;

//TABLET (767px-1279px)
$tablet_margins:32px;
$tablet_columns:auto;
$tablet_gutters:24px;

//MOBILE (<767px)
$mobile_margins:16px;
$mobile_columns:auto;
$mobile_gutters:16px;