@import './__media.scss';

@mixin side_margins{
    margin-left:$mobile_margins;
    margin-right:$mobile_margins;
    @include tablet{
        margin-left:$tablet_margins;
        margin-right:$tablet_margins;
    }
    @include desktop{
        margin-left:$desktop_margins;
        margin-right:$desktop_margins;
    }
}

//DESKTOP(>1280px)
$desktop_margins:auto;
$desktop_columns:63px;
$desktop_gutters:24px;

//TABLET (767px-1279px)
$tablet_margins:32px;
$tablet_columns:auto;
$tablet_gutters:24px;

//MOBILE (<767px)
$mobile_margins:16px;
$mobile_columns:auto;
$mobile_gutters:16px;