@import "../../styling/global.scss";

.AddInvItemBtn {
  &__outer {
    @include flexCtrAll;
    padding: 16px 32px;
    gap: 10px;
    @include tablet {
      justify-content: flex-end;
    }
  }
  &__flex-ctn {
    display: flex;
    width: 50%;
    @include tablet {
      width: auto;
    }
  }
  &__button {
    @include textBtn;
    flex-grow: 1;
    @include tablet {
      flex-grow: 0;
    }
    &--cancel {
      color: $Slate;
      background: #ffffff;
      border: 1px solid #bdc5d5;
    }
    &--add {
      color: $White;
      background: #2e66e6;
    }
  }
}
