@import "../../styling/global.scss";

.itemDetails {
	background-color: $White;
	border-bottom: 1px solid $Cloud;
	@include tablet {
		border-bottom: none;
		border-right: 1px solid $Cloud;
	}
	&__outer {
		padding: 16px 24px 24px;
		@include tablet {
			padding: 0 32px;
		}
	}
	&__header {
		@include sub_header;
		padding-bottom: 24px;
		@include tablet {
			padding-bottom: 32px;
		}
	}
	&__body {
		@include flexColumn;
		gap: 16px;
		@include tablet {
			gap: 24px;
		}
	}
	&__label {
		@include body_medium;
		font-weight: 600;
		padding-bottom: 4px;
	}
	&__input {
		height: 36px;
		width: 100%;
		border-radius: 20px;
		border: 1px solid $Cloud;
		@include body_medium;
		color: $Instock-Black;
		padding: 0 16px 0; //need to adjust to {padding: 8px 16px;} if input is larger than one line (i.e. textArea)

		&:focus {
			@include activeBorder;
		}
		@include tablet {
			height: 38px;
		}
		&--description {
			height: 120px;
			padding: 8px 16px;
			resize: none;
			overflow: hidden;
		}
		&--category {
			&::-ms-expand {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background: transparent;
			}
		}
	}
	&__arrow-container {
		position: relative;
	}
	&__drop-Arrow {
		position: absolute;
		right: 16px;
		top: 6px;
		pointer-events: none;
	}
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}
