// @import "../../../partials/_colors";
// @import "../../../partials/_fonts";
// @import "../../../partials/_media";
// @import "../../Global.scss";
@import "../../styling/global.scss";

.pageHeader {
	background-color: $White;
	border-bottom: 1px solid $Cloud;
	&__outer {
		padding: 32px 28px 24px;
		@include tablet {
			padding: 32px 32px 21px;
			//THE AUTO MARGIN SETTINGS BELOW WILL NOT WORK ONCE THIS COMPONENT IS NESTED INSIDE THE COLLECTION OF COMPONENTS THAT WILL MAKE UP THE BODY OF THE PAGE.THAT COLLECTIVE COMPONENT WILL REQUIRE THE desktopWidths SETTINGS
			@include desktop {
				@include desktopWidths;
				padding: 32px 32px 21px;
				//this padding for the^ bottom may need to be changes. It is only 21 to reflect mockup, though the positioning seems to be reletive to the Header component behind it
			}
		}
	}
	&__inner-container {
		@include flexDisp(column, flex-start);
		width: 100%;

		@include tablet {
			@include flexDisp(row, flex-start);
		}
	}
	&__inner-static {
		width: 100%;
		@include flexDisp(row, flex-start);
	}

	&__return {
		cursor: pointer;
	}

	&__title-text {
		@include page_header;
		padding-left: 4px;
	}
}
