@import "../../../partials/_colors";
@import "../../../partials/_fonts";
@import "../../../partials/_media";
@import "../../Global.scss";

.pageHeader {
  background-color: $White;
  border-bottom: 1px solid $Cloud;
  &__outer {
    padding: 32px 28px 24px;
    @include tablet {
      padding: 32px 32px 0;
      @include desktop {
        @include desktopWidths;
        padding-top: 24px;
      }
    }
  }
  &__inner-container {
    @include flexCtrAll;
    align-items: baseline;
  }
  &__return {
  }
  &__title-text {
    @include page_header;
    padding-left: 4px;
  }
}
