@import "../../styling/global.scss";

.pageContainer {
	box-shadow: 0px 2px 5px 0px #13182c1a;
	border-radius: 3px;

	@include desktop {
		@include desktopWidths;
	}
	&__column {
		@include tablet {
			padding: 24px 0;
			display: flex;
		}
	}
	&__width {
		@include tablet {
			// width: 50%;
			flex-grow: 1;
		}
	}
}
