@import "../../styling/global.scss";

.divider {
	margin-top: -1px;
	margin-bottom: 0;
	color: $Cloud;
	background-color: $White;
}
.itemContainer {
	padding: 24px;
	background-color:transparent;
	@include flexDisp(row, space-between);
	@include tablet {
		width:85%;
		box-sizing: border-box;
        padding:18px 0px 18px 32px;
    }
    @include desktop{
        padding:18px 0px 18px 40px;
    }

	&__itemName {
		margin-bottom:20px;
		@include tablet {
			width: 51%;
			margin-bottom:0;
		}
		@include desktop{
			width:52%;
		}
		&__name {
			color: $Instock-Indigo;
			@include label_link_button;
			display: flex;
			align-items: center;
			&--text {
				color: $Instock-Indigo;
				&:hover{
					cursor:pointer;
					text-decoration: underline;
				}
			}
			@include tablet{
				width:100%;
			}

		}
	}
	&__itemStatus {
		margin-bottom:18px;
		@include tablet {
			width: 54%;
			margin-bottom:0;
		}
		@include desktop{
			width:62%;
		}
		&__status {
			border-radius: 20px;
			padding: 4px 8px;
			border: none;
			text-align: center;
			text-decoration: none;
			@include column_label;
			&--inStock {
				color: $Green;
				background-color: transparentize($color: $Green, $amount: 0.9);
			}
			&--outOfStock {
				color: $Red;
				background-color: transparentize($color: $Red, $amount: 0.9);
			}
		}
	}
	&__itemCategory{
		margin-bottom:20px;
		@include tablet{
			width:50%;
			margin-bottom:0;
		}
		@include desktop{
			width:52%;
		}
		&__category{
			@include label_link_button;
		}
	}
	&__itemQty {
		margin-bottom:20px;
		@include tablet {
			width:50%;
			margin-bottom:0;
			@include flexDisp(row,flex-start);
		}
		@include desktop{
			width:61%;
			@include flexDisp(row,flex-start);
		}
		&__quantity {
			@include label_link_button;
			@include tablet{
				width:45%;
			}
			@include desktop{
				width:36%;
			}
		}
	}
	&__itemWarehouse{
		margin-top:16px;
		@include tablet{
			margin-top:0;
		}
	}
	&__column {
		@include flexDisp(column,flex-start);
		width: 50%;
		&:first-child{
			@include tablet{
				width:49%;
				@include flexDisp(row,space-between);
			}
		}
		&:nth-child(2){
			@include tablet{
				width:52%;
				@include flexDisp(row,flex-start);
			}
			@include desktop{
				width:52%;
				@include flexDisp(row,flex-start);
			}
		}
		@include tablet {
			@include flexDisp(row,space-between);
		}
	}

	&__title {
		@include table_header;
		text-transform: uppercase;
		padding-bottom: 4px;
		color:$Slate;
		&--mobile {
			@include tablet {
				display: none;
			}
		}
	}
	&__outer {
		@include tablet {
			@include flexDisp(row,space-between);
		}
		border-bottom: 1px solid $Cloud;
		background-color:$White;
		&:hover {
			background-color: transparentize($color: $Instock-Indigo, $amount: 0.93);
		}
	}

	&__hidden {
		display: none;
	}
}
.iconRow {
	background-color:$White;
	padding: 0 24px 24px 24px;
	width: 100%;
	@include flexDisp(row, space-between);
	& > * {
		cursor: pointer;
	}

	@include tablet {
		@include flexDisp(row, flex-end);
		width: fit-content;
		align-items: baseline;
		gap: 1rem;
		padding:18px 32px 18px 32px;
	}
	@include desktop{
		padding:18px 40px 18px 40px;
	}
}

#status_title{
	padding-bottom:2px;
}