@import '../../../styling/global.scss';

.divider{
    margin-top:-1px;
    margin-bottom:0;
    color:$Cloud;
    background-color:$White;
}
.itemContainer{
    padding:16px 24px;
    background-color: $White;
    @include flexDisp(row,space-between);
    flex-wrap:wrap;
    &__itemName{
        width:50%;
        padding-bottom:20px;
        &__title{
            @include column_label;
            padding-bottom:4px;
        }
        &__name{
            @include label_link_button;
            color:$Instock-Indigo;
            @include flexDisp(row,flex-start);
            align-items:center;
        }
    }
    &__itemStatus{
        width:50%;
        padding-bottom:20px;
        &__title{  
            @include column_label;
            padding-bottom:4px;
        }
        &__status{
            border-radius:20px;
            padding:4px 8px;
            border:none;
            text-align: center;
            text-decoration: none;
            @include column_label;
            &--inStock{
                color:$Green;
            }
            &--outOfStock{
                color:$Red;
            }  
        }
    }
    &__itemCategory{
        width:50%;
        &__title{  
            @include column_label;
            padding-bottom:4px;
        }
        &__category{
            @include label_link_button;
        }
    }
    &__itemQty{
        width:50%;
        &__title{  
            @include column_label;
            padding-bottom:4px;
        }
        &__quantity{
            @include label_link_button;
        }
    }
}
.iconRow{
    padding:0 24px 24px 24px;
    background-color: $White;
    @include flexDisp(row,space-between);
}