@import "../../../styling/global.scss";

.mobile-hider {
    display: none;

    @include tablet {
        display: block;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    @include tablet {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        padding-top: 10rem;
        position: absolute;
        z-index: 2;
        width: 100%;
        overflow: hidden;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $White;
        height: 97vh;
        padding: 1rem;

        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: auto;
            padding: 0 1rem;
        }

        & .modal__text {
            width: 100%;
        }

        & .modal__cta-container {
            width: 100%;
        }
    }

    &__close {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1.25rem;

        @include tablet {
            padding: 1rem 0rem;
        }

        & .modal__close-icon {
            width: auto;
            cursor: pointer;
        }
    }

    &__header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        @include tablet {
            justify-content: flex-start;
            align-items: center;
            padding: 0rem 3rem;
            width: auto;
        }
    }

    &__title {
        margin: 0%;
        @include page_header;
        line-height: 2.25rem;
    }

    &__description {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        @include tablet {
            align-items: flex-start;
            padding: 0rem 3rem;
            width: 80%;
        }

        & .modal__description-text {
            @include body_medium;
            line-height: 1.625rem;
            margin: 0%;
            margin: 1rem 0;
        }
    }

    &__cta {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.0625rem;

        @include tablet {
            padding: 0;
            justify-content: flex-end;
            width: 100%;
        }

        & .modal__cancel-button {
            width: 100%;
            border: 1px solid $Cloud;
            @include textBtn;
            background-color: $White;
            color: $Slate;

            @include tablet {
                width: 10%;
                margin-top: 2rem;
                margin-bottom: 2.5rem;
            }
            }    & .modal__cancel-button:hover {
                cursor: pointer;
            }
        
            & .modal__delete-button {
                width: 100%;
                @include textBtn;
                border: none;
                background-color: $Red;
                color: $White;
        
                @include tablet {
                    width: 10%;
                    margin-top: 2rem;
                    margin-bottom: 2.5rem;
                    margin-right: 4rem;
                }
            }
        
            & .modal__delete-button:hover {
                cursor: pointer;
            }
        }
    }        
